h1 {
    margin: 0;
    padding-bottom: 8px;
    color: #0B55C4;
    font-size: 20px;
    font-weight: bold;
}

h3 {
    font-size: 13px;
    font-weight: bold;
}

body {
    font-size: 12px;
}

a:link {
    color: #16757c;
    text-decoration: none;
    font-size: 12px;
}

a:visited {
    color: #16757c;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
}

fieldset {
    margin-bottom: 10px;
    border: 1px #ccc solid;
    padding: 5px;
    text-align: left;
}

    fieldset p {
        margin: 10px 0px;
    }

legend {
    color: #0B55C4;
    font-size: 12px;
    font-weight: bold;
}

input, select {
    font-size: 12px;
    border-radius: 4px;
    border: none;
    padding: 4px 1px;
}

textarea {
    font-size: 11px;
    border: 1px solid silver;
}

button {
    font-size: 10px;
}

input.disabled {
    background-color: #F0F0F0;
}

input.button {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #ffd
}

/* -- overall styles ------------------------------ */

#border-top.green div div {
    background: none;
    height: 50px;
}

#border-top.teal {
    background: url(../images/teal/header_middle.png) repeat-x;
}

    #border-top.teal div {
        background: url(../images/teal/header_right.png) 100% 0 no-repeat;
    }

        #border-top.teal div div {
            background: url(../images/teal/header_left.png) no-repeat;
            height: 54px;
        }

#border-top.cherry {
    background: url(../images/cherry/header_middle.png) repeat-x;
}

    #border-top.cherry div {
        background: url(../images/cherry/header_right.png) 100% 0 no-repeat;
    }

        #border-top.cherry div div {
            background: url(../images/cherry/header_left.png) no-repeat;
            height: 54px;
        }

#border-top .title {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    line-height: 58px;
    padding-left: 46px;
    padding: 22px 0px 8px 70px;
    background: url(../images/header/1435045243_1-08.png) no-repeat 2px 0px;
}

#border-top .version {
    display: block;
    float: right;
    color: #fff;
    padding: 25px 5px 0 0;
}

#border-bottom {
    background: url(../images/bottom.png) repeat-x;
}

    #border-bottom div {
        background: url(../images/corner_br.png) 100% 0 no-repeat;
    }

        #border-bottom div div {
            background: url(../images/corner_bl.png) no-repeat;
            height: 11px;
        }

#footer .copyright {
    margin: 10px;
    text-align: center;
}

#header-box {
    background: #4b77be;
}

#content-box {
    margin: 0 auto;
    width: 1140px;
}

.border {
    display: inline-block;
    width: 100%;
}

#content-box .padding {
    padding: 0;
    min-height: 450px;
}

#element-box-home {
    float: left;
    width: 55%;
    background: #fff;
    margin-left: 10px;
}

#element-box-right {
    width: 40%;
    float: right;
    margin-right: 10px;
}

#toolbar-box {
    background: #fbfbfb;
    margin-bottom: 10px;
}

#submenu-box {
    background: #f6f6f6;
    margin-bottom: 10px;
}

    #submenu-box .padding {
        padding: 0px;
    }


/* -- status layout */
#module-status {
    float: right;
}

    #module-status span {
        display: block;
        float: left;
        line-height: 16px;
        padding: 4px 10px 0 22px;
        margin-bottom: 5px;
    }

/*#module-status { background: url(../images/mini_icon.png) 3px 5px no-repeat; }*/
.legacy-mode {
    color: #c00;
}

#module-status .preview {
    background: url(../images/menu/icon-16-media.png) 3px 3px no-repeat;
}

#module-status .unread-messages,
#module-status .no-unread-messages {
    background: url(../images/menu/icon-16-messages.png) 3px 3px no-repeat;
}

    #module-status .unread-messages a {
        font-weight: bold;
    }

#module-status .loggedin-users {
    background: url(../images/menu/icon-16-user.png) 3px 3px no-repeat;
}

#module-status .logout {
    background: url(../images/menu/icon-16-logout.png) 3px 3px no-repeat;
}

/* -- various styles -- */
span.note {
    display: block;
    background: #ffd;
    padding: 5px;
    color: #666;
}

/** overlib **/

.ol-foreground {
    background-color: #ffe;
}

.ol-background {
    background-color: #6db03c;
}

.ol-textfont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666;
}

.ol-captionfont {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
}

    .ol-captionfont a {
        color: #0b5fc6;
        text-decoration: none;
    }

.ol-closefont {
}

/** toolbar **/

div.header {
    font-size: 22px;
    font-weight: bold;
    color: #0B55C4;
    line-height: 48px;
    padding-left: 55px;
    background-repeat: no-repeat;
    margin-left: 10px;
}

    div.header span {
        color: #666;
    }

div.configuration {
    font-size: 14px;
    font-weight: bold;
    color: #0B55C4;
    line-height: 16px;
    padding-left: 30px;
    margin-left: 10px;
    background-image: url(../images/menu/icon-16-config.png);
    background-repeat: no-repeat;
}

div.toolbar {
    float: right;
    text-align: right;
    padding: 0;
}

table.toolbar {
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

    table.toolbar td {
        padding: 1px 1px 1px 4px;
        text-align: center;
        color: #666;
        height: 48px;
    }

        table.toolbar td.spacer {
            width: 10px;
        }

        table.toolbar td.divider {
            border-right: 1px solid #eee;
            width: 5px;
        }

    table.toolbar span.icon-ok-new {
        background-image: url("../images/iconadd.png");
        background-repeat: no-repeat;
        padding-left: 18px;
    }

    table.toolbar span.icon-ok-delete {
        background-image: url("../images/icondelete.png");
        background-repeat: no-repeat;
        padding-left: 18px;
    }

    table.toolbar span.icon-ok-update {
        background-image: url("../images/iconupdate.png");
        background-repeat: no-repeat;
        padding-left: 18px;
    }

    table.toolbar span.icon-ok-close {
        background: url("../images/iconclose.png") no-repeat 0px 1px;
        padding-left: 18px;
    }

    table.toolbar a {
        display: block;
        cursor: pointer;
        background: #4b77be;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        padding: 6px 15px 6px 15px;
        font-family: Arial, Helvetica, sans-serif;
        white-space: nowrap;
        font-size: 12px;
    }

        table.toolbar a:hover {
            display: block;
            background: #F58220;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            padding: 6px 15px 6px 15px;
            font-family: Arial, Helvetica, sans-serif;
            white-space: nowrap;
            font-size: 12px;
        }

/** for massmail component **/
td#mm_pane {
    width: 90%;
}

input#mm_subject {
    width: 200px;
}

textarea#mm_message {
    width: 100%;
}

/* pane-sliders  */
.pane-sliders .title {
    margin: 0;
    padding: 2px;
    color: #666;
    cursor: pointer;
}

.pane-sliders .panel {
    border: 1px solid #ccc;
    margin-bottom: 3px;
}

    .pane-sliders .panel h3 {
        background: #f6f6f6;
        color: #666
    }

.pane-sliders .content {
    background: #f6f6f6;
}

.pane-sliders .adminlist {
    border: 0 none;
}

    .pane-sliders .adminlist td {
        border: 0 none;
    }

.jpane-toggler span {
    background: transparent url(../images/arrow.png) 5px 50% no-repeat;
    padding-left: 20px;
}

.jpane-toggler-down span {
    background: transparent url(../images/arrow_down.png) 5px 50% no-repeat;
    padding-left: 20px;
}

.jpane-toggler-down {
    border-bottom: 1px solid #ccc;
}

/* tabs */

dl.tabs {
    float: left;
    margin: 10px 0 -1px 0;
    z-index: 50;
}

    dl.tabs dt {
        float: left;
        padding: 4px 10px;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;
        margin-left: 3px;
        background: #f0f0f0;
        color: #666;
    }

        dl.tabs dt.open {
            background: #F9F9F9;
            border-bottom: 1px solid #F9F9F9;
            z-index: 100;
            color: #000;
        }

div.current {
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}

    div.current dd {
        padding: 0;
        margin: 0;
    }
/** cpanel settings **/

#cpanel div.icon {
    text-align: center;
}

    #cpanel div.icon a {
        display: block;
        float: left;
        border: 1px solid #f0f0f0;
        height: 97px;
        width: 130px;
        color: #666;
        vertical-align: middle;
        text-decoration: none;
        margin: 10px;
    }

        #cpanel div.icon a:hover {
            border-left: 1px solid #eee;
            border-top: 1px solid #eee;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            background: #f6f6f6;
            color: #0B55C4;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
        }

#cpanel img {
    padding: 10px 0;
    margin: 0 auto;
}

#cpanel span {
    display: block;
    text-align: center;
    padding: 0px 5px;
    font-size: 12px;
    color: #000;
}

/* standard form style table */
div.col {
    float: left;
}

div.width-45 {
    width: 45%;
}

div.width-55 {
    width: 55%;
}

div.width-50 {
    width: 50%;
}

div.width-70 {
    width: 70%;
}

div.width-30 {
    width: 30%;
}

div.width-60 {
    width: 60%;
}

div.width-40 {
    width: 40%;
}

div.width-100 {
    width: 100%;
}

table.admintable td {
    padding: 6px;
}

    table.admintable td.key,
    table.admintable td.paramlist_key {
        text-align: left;
        width: 140px;
        color: #555;
        font-weight: normal;
        font-size: 13px;
    }

table.paramlist td.paramlist_description {
    background-color: #f6f6f6;
    text-align: left;
    width: 170px;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

table.admintable td.key.vtop {
    vertical-align: top;
}

table.adminform {
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0 10px 0;
    margin-bottom: 15px;
    width: 100%;
}

    table.adminform.nospace {
        margin-bottom: 0;
    }

    table.adminform tr.row0 {
        background-color: #f9f9f9;
    }

    table.adminform tr.row1 {
        background-color: #eeeeee;
    }

    table.adminform th {
        font-size: 11px;
        padding: 6px 2px 4px 4px;
        text-align: left;
        height: 25px;
        color: #000;
        background-repeat: repeat;
    }

    table.adminform td {
        padding: 3px;
        text-align: left;
    }

        table.adminform td.filter {
            text-align: left;
        }

        table.adminform td.helpMenu {
            text-align: right;
        }


fieldset.adminform {
    border: 1px solid #ccc;
    margin: 0 10px 10px 10px;
}

/** Table styles **/

table.adminlist {
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: separate !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-left: 0;
    border-spacing: 0;
}

    table.adminlist td,
    table.adminlist th {
        padding: 4px;
    }

    table.adminlist thead th {
        text-align: left;
        background: #f0f0f0;
        color: #666;
        font-size: 13px;
        padding: 8px;
        border-left: 1px solid #dddddd;
    }

    table.adminlist thead a:hover {
        text-decoration: none;
    }

    table.adminlist thead th img {
        vertical-align: middle;
    }

    table.adminlist tbody th {
        font-weight: bold;
    }

    table.adminlist tbody tr {
        background-color: #fff;
        text-align: left;
    }

        table.adminlist tbody tr.row1 {
            background: #CCCACA;
            border-top: 1px solid #f0f0f0;
        }

            table.adminlist tbody tr.row0:hover td,
            table.adminlist tbody tr.row1:hover td {
                background-color: #dbeff0;
            }

        table.adminlist tbody tr td {
            height: 25px;
            background: #fff;
            border-top: 1px solid #dddddd;
            border-left: 1px solid #dddddd;
            padding: 8px;
            font-size: 12px;
        }

        table.adminlist tbody tr.row1 td {
            background: #f3f3f3;
            border-top: 1px solid #E0E0E0;
        }

    table.adminlist tfoot tr {
        text-align: center;
        color: #333;
    }

    table.adminlist tfoot td,
    table.adminlist tfoot th {
        background-color: #f3f3f3;
        border-top: 1px solid #999;
        text-align: center;
    }

    table.adminlist td.order {
        text-align: center;
        white-space: nowrap;
    }

        table.adminlist td.order span {
            float: left;
            display: block;
            width: 20px;
            text-align: center;
        }

    table.adminlist .pagination {
        display: table;
        padding: 0;
        margin: 0 auto;
    }

.pagination div.limit {
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}

/** stu nicholls solution for centering divs **/
.container {
    clear: both;
    text-decoration: none;
}

* html .container {
    display: inline-block;
}

/** table solution for global config **/
table.noshow {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

    table.noshow tr {
        vertical-align: top;
    }

    table.noshow td {
    }

    table.noshow fieldset {
        margin: 15px 7px 7px 7px;
    }

#editor-xtd-buttons {
    padding: 5px;
}

/* -- buttons -> STILL NEED CLEANUP*/

.button1,
.button1 div {
    height: 1%;
    float: right;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
    float: left;
}

.button1 {
    background: url(../images/button1_left.png) no-repeat;
    white-space: nowrap;
    padding-left: 10px;
    margin-left: 5px;
}

    .button1 .next {
        background: url(../images/button1_next.png) 100% 0 no-repeat;
    }

    .button1 .btlogin {
        display: block;
        height: 26px;
        border: 0px;
        background: none;
        float: left;
        line-height: 26px;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        padding: 0 30px 0 6px;
    }

    .button1 a:hover {
        text-decoration: none;
        color: #0B55C4;
    }

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
    display: block;
    height: 22px;
    float: left;
    line-height: 22px;
    font-size: 11px;
    color: #333;
    cursor: pointer;
}

.button2-left span,
.button2-right span {
    cursor: default;
    color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span {
    padding: 0 6px;
}

.page span,
.blank span {
    color: #000;
    font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover {
    text-decoration: none;
    color: #0B55C4;
}

.button2-left a,
.button2-left span {
    padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span {
    padding: 0 6px 0 24px;
}

.button2-left {
    background: url(../images/button2_left.png) no-repeat;
    float: left;
    margin-left: 5px;
}

.button2-right {
    background: url(../images/button2_right.png) 100% 0 no-repeat;
    float: left;
    margin-left: 5px;
}

    .button2-right .prev {
        background: url(../images/button2_prev.png) no-repeat;
    }

    .button2-right.off .prev {
        background: url(../images/button2_prev_off.png) no-repeat;
    }

    .button2-right .start {
        background: url(../images/button2_first.png) no-repeat;
    }

    .button2-right.off .start {
        background: url(../images/button2_first_off.png) no-repeat;
    }

.button2-left .page,
.button2-left .blank {
    background: url(../images/button2_right_cap.png) 100% 0 no-repeat;
}

.button2-left .next {
    background: url(../images/button2_next.png) 100% 0 no-repeat;
}

.button2-left.off .next {
    background: url(../images/button2_next_off.png) 100% 0 no-repeat;
}

.button2-left .end {
    background: url(../images/button2_last.png) 100% 0 no-repeat;
}

.button2-left.off .end {
    background: url(../images/button2_last_off.png) 100% 0 no-repeat;
}

.button2-left .image {
    background: url(../images/button2_image.png) 100% 0 no-repeat;
}

.button2-left .readmore {
    background: url(../images/button2_readmore.png) 100% 0 no-repeat;
}

.button2-left .pagebreak {
    background: url(../images/button2_pagebreak.png) 100% 0 no-repeat;
}

.button2-left .blank {
    background: url(../images/button2_blank.png) 100% 0 no-repeat;
}

/* Tooltips */
.tool-tip {
    float: left;
    background: #ffc;
    border: 1px solid #D4D5AA;
    padding: 5px;
    max-width: 200px;
    z-index: 50;
}

.tool-title {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: bold;
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 5px;
    background: url(../images/selector-arrow.png) no-repeat;
}

.tool-text {
    font-size: 100%;
    margin: 0;
}

/* Calendar */
a img.calendar {
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background: url(../images/calendar.png) no-repeat;
    cursor: pointer;
    vertical-align: middle;
}

/* System Standard Messages */
#system-message dd.message ul {
    background: #C3D2E5 url(../images/notice-info.png) 4px center no-repeat;
}

/* System Error Messages */
#system-message dd.error ul {
    color: #c00;
    background: #E6C0C0 url(../images/notice-alert.png) 4px top no-repeat;
    border-top: 3px solid #DE7A7B;
    border-bottom: 3px solid #DE7A7B;
}

/* System Notice Messages */
#system-message dd.notice ul {
    color: #c00;
    background: #EFE7B8 url(../images/notice-note.png) 4px top no-repeat;
    border-top: 3px solid #F0DC7E;
    border-bottom: 3px solid #F0DC7E;
}

.detail_error {
    font-weight: bold;
    color: #f00
}

.c_page {
    text-align: center;
    background: #f3f3f3;
    height: 30px;
    line-height: 30px;
    margin: 0px;
}

.toolbar_bt {
    font-size: 12px;
    border: none;
    background: #e1e1e1;
    padding: 4px;
    text-align: center;
    color: #000 !important;
}

.inputbox {
    font-size: 12px;
    padding: 7px 10px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-color: #4b77be;
    background-color: #fff;
    border: 1px solid #d4d4d4;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    border-radius: 3px !important;
}

.select_cate {
    font-size: 12px;
    padding: 6px 1px;
    width: 368px !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-color: #4b77be;
    background-color: #fff !important;
    border: 1px solid #cccccc;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
/*css main admin*/
.header_admin_topleft {
    float: left;
}

.header_admin_topright {
    float: right;
    margin-top: 12px;
}

.border-top {
    width: 1140px;
    margin: 0 auto;
    padding: 5px 0px 5px 0px;
}

.user .avatar {
    float: left;
    padding-right: 15px;
}

    .user .avatar img {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 40px;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

.user .info {
    padding-top: 5px;
    font-size: 13px;
    float: left;
}

    .user .info p {
        color: #34495e;
        margin: 0;
        padding: 0;
    }

    .user .info span.edit a {
        color: #4b77be;
    }

    .user .info span.logout a {
        color: #de1b2d;
    }

.col-lg-2 {
    width: 160px;
    float: left;
    border-right: 1px solid #e1e1e1;
    margin-right: 10px;
}

.col-lg_left {
    float: left;
    margin-top: 13px;
}

    .col-lg_left a {
        background: #4b77be;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        padding: 8px 10px 8px 10px;
        font-family: Arial, Helvetica, sans-serif;
        white-space: nowrap;
        font-size: 13px;
    }

.user {
    display: block;
}

.col-lg-3 {
    /* width:273px; */
    float: left;
    padding-right: 15px;
    padding-left: 0px;
}

.block-summary {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 0px;
}

    .block-summary a.nth1 {
        background: #61d270;
        border-left: 3px solid #61d270;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

.trans-hover {
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

.block-summary a {
    display: block;
    padding: 15px;
    overflow: hidden;
    margin-left: 10px;
}

    .block-summary a.nth1 .icon {
        background: url(../images/summary01.png) no-repeat;
        width: 56px;
        height: 64px;
        float: left;
        margin-right: 10px;
    }

    .block-summary a .info {
        float: left;
        padding-top: 10px;
    }

        .block-summary a .info span {
            font-size: 24px;
            color: #fff;
            display: table;
            padding-bottom: 5px;
            font-weight: bold;
        }

        .block-summary a .info small {
            color: #fff;
            font-size: 12px;
        }

    .block-summary a.nth2 {
        background: #fba026;
        border-left: 3px solid #fba026;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

        .block-summary a.nth2 .icon {
            background: url(../images/summary02.png) no-repeat;
            float: left;
            width: 50px;
            height: 64px;
        }

    .block-summary a.nth3 {
        background: #e25041;
        border-left: 3px solid #e25041;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

        .block-summary a.nth3 .icon {
            background: url(../images/summary03.png) no-repeat;
            float: left;
            width: 50px;
            height: 64px;
        }

    .block-summary a.nth4 {
        background: #26b7fb;
        border-left: 3px solid #26b7fb;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
    }

        .block-summary a.nth4 .icon {
            background: url(../images/summary04.png) no-repeat;
            float: left;
            width: 64px;
            height: 64px;
        }

    .block-summary a.nth2:hover {
        background: #FA9713;
        border-left: 3px solid #FA9713;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .block-summary a.nth1:hover {
        background: #36CB4A;
        border-left: 3px solid #36CB4A;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .block-summary a.nth3:hover {
        background: #F44735;
        border-left: 3px solid #F44735;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .block-summary a.nth4:hover {
        background: #24A0DA;
        border-left: 3px solid #24A0DA;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }
/*----*/
/*css tab right*/
.web-info {
    padding: 15px;
    margin-bottom: 22px;
    background-color: #fff;
}

    .web-info h3 {
        font-family: 'heve', Arial, Helvetica, sans-serif;
        color: #4b77be;
        background: url(../images/border-line.png) center bottom repeat-x;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
        /* font-size: 13px; */
        font-weight: bold;
        font-size: 16px;
        overflow: hidden;
    }

    .web-info ul li {
        clear: both;
        overflow: hidden;
        margin: 5px 0px;
        font-size: 12px;
        color: #868484;
        line-height: 30px;
        list-style: none;
    }

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.web-info ul li > span {
    color: #4b77be;
    float: right;
}

#parentHorizontalTab {
    background: #fff;
    padding: 15px;
    width: 100% !important;
}
/*----*/
/*footer*/
#footer {
    min-height: 30px;
    background: #4b77be;
    margin-top: 17px;
    padding: 5px 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer_left {
    float: left;
    color: #fff;
    font-weight: bold;
    padding-top: 6px;
}

.footer_right {
    float: right;
}

.footer_left a {
    color: #FA9713;
    font-style: italic;
    font-weight: normal !important;
    font-size: 12px;
}

#menu ul li ul li:hover {
    background: #6190DD !important;
}
/*----*/
/*Danh muc san pham*/
.widget {
    background: #fff;
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    -webkit-box-shadow: 0 0px 5px #ddd;
    -moz-box-shadow: 0 0px 5px #ddd;
    box-shadow: 0 0px 5px #ddd;
}

.widget-title {
    background: #f2f2f2;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    /* background-image: -linear-gradient(top, #ffffff 0%, #f2f2f2 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
    border-bottom: 1px solid #fff;
    display: inline-block;
    width: 100%;
}

    .widget-title > h4 {
        float: left;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 11px 10px 15px;
        line-height: 12px;
        margin: 0;
        color: #4C4C4C;
        text-shadow: 0 1px 1px #FFFFFF;
        white-space: nowrap;
    }

.icon-reorder {
    display: inline-block;
    width: 14px;
    height: 15px;
    margin-top: 6px;
    line-height: 15px;
    vertical-align: text-top;
    background-image: url("../images/icon_dm.png");
    background-repeat: no-repeat;
    padding-left: 18px;
    font-style: normal;
}

.widget-title > h4 i {
    font-size: 16px;
    margin-right: 2px;
}
/*----*/
.upload-file {
    display: block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    font-size: 11px;
    font-style: italic;
}

.input-order {
    font-size: 12px;
    padding: 6px 1px;
    width: 80px !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-color: #4b77be;
    background-color: #fff !important;
    border: 1px solid #cccccc;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
/*css danh sach san pham*/
.icon-reorder-items {
    display: inline-block;
    width: 14px;
    height: 15px;
    margin-top: 6px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../images/iconds.png");
    background-repeat: no-repeat;
    padding-left: 18px;
    font-style: normal;
}

.row-fluid {
    width: 100%;
    display: inline-block;
}

.span3 {
    float: left;
    width: 200px;
}

.span9 {
    float: right;
}

.inputbox-top {
    font-size: 12px;
    padding: 7px 1px;
    margin-right: 5px;
    width: 200px !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-color: #4b77be;
    background-color: #fff !important;
    border: 1px solid #cccccc;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.inputbox-top-select {
    font-size: 12px;
    width: 200px;
    padding: 6px 1px;
    margin-right: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-color: #4b77be;
    background-color: #fff !important;
    border: 1px solid #cccccc;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.buton-css {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.page-items {
    text-align: right;
    padding: 10px 3px 10px 10px;
}

    .page-items b {
        background-color: #F5F5F5;
        color: #999999;
        padding: 4px 10px;
        font-size: 11.9px;
        line-height: 20px;
        text-decoration: none;
        border: 1px solid #dddddd;
        margin-right: 3px;
    }

    .page-items a {
        background-color: #fff;
        color: #4b77be;
        padding: 4px 10px;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        border: 1px solid #dddddd;
    }

        .page-items a:hover {
            background-color: #F5F5F5;
        }

.input-detail {
    font-size: 12px;
    padding: 7px 1px;
    margin-right: 5px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-color: #4b77be;
    background-color: #fff !important;
    border: 1px solid #cccccc;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

.inputbox-mota {
    font-size: 12px;
    padding: 6px 1px;
    height: 130px !important;
    width: 830px !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    outline-color: #4b77be;
    background-color: #fff !important;
    border: 1px solid #cccccc;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}

a.tooltip {
    outline: none;
    display: inline-block;
}

    a.tooltip strong {
        line-height: 30px;
    }

    a.tooltip:hover {
        text-decoration: none;
    }

    a.tooltip span {
        z-index: 10;
        display: none;
        padding: 14px 20px;
        width: 300px;
        line-height: 16px;
    }

    a.tooltip:hover span {
        display: inline;
        position: absolute;
        color: #000;
        background: none repeat scroll 0 0 #FFF9D3;
        border: 1px solid #E2CE49;
    }

.callout {
    z-index: 20;
    position: absolute;
    border: 0;
    top: -14px;
    left: 120px;
}

/*CSS3 extras*/
a.tooltip span {
    border-radius: 2px;
    /*opacity: 0.8;*/
}

.tooltip img {
    position: relative;
    top: 0px;
}

a.setting-icon {
    background: url(../images/icon-cauhinh.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.products-icon {
    background: url(../images/icon-sanpham.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.donhang-icon {
    background: url(../images/icon-donhang.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.noidung-icon {
    background: url(../images/icon-noidung.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.video-icon {
    background: url(../images/icon-video.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.abum-icon {
    background: url(../images/icon-abum.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.file-icon {
    background: url(../images/icon-file.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.khachhang-icon {
    background: url(../images/icon-khachhang.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.tiepthi-icon {
    background: url(../images/icon-tiepthi.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.tichhop-icon {
    background: url(../images/icon-tichhop.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.tienich-icon {
    background: url(../images/icon-tienich.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.lienhe-icon {
    background: url(../images/icon-lienhe.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

a.taikhoan-icon {
    background: url(../images/icon-tiepthi.png) no-repeat 6px 15px;
    padding-left: 23px !important;
}

.footer_right ul li {
    display: inline;
    list-style-type: none;
}

/*----*/
.ad-feature-value-l tr td {
    padding: 3px 5px
}

.txtinputftr {
    border: 1px solid #d0d0d0;
    padding: 3px 6px;
    height: 22px;
    border-radius: 0px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: not-allowed;
    background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
    background-color: transparent;
}

.ad-f-v-h-value {
    float: left;
    font-weight: bold;
    width: 270px;
}

.ad-f-v-h-order {
    float: left;
    font-weight: bold;
    width: 94px;
    padding-left: 5px;
}

.clear {
    clear: both;
}

.ad-feature-value-header {
    line-height: 30px;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 5px;
}

.btnaddftrvalue {
    height: 16px;
    width: 16px;
    display: block;
    background: url("../images/addicon.png") center center no-repeat;
    margin-top: 5px;
    margin-left: 10px;
}

.ad-f-v-h-tool {
    float: left;
}

.lnkftrdetaildelete {
    height: 16px;
    width: 16px;
    display: block;
    background: url("../images/delicon.png") center center no-repeat;
    margin-top: 5px;
}

.resp-tabs-list li {
    font-weight: bold;
}

.space1 {
    padding-left: 20px;
}

.space2 {
    padding-left: 40px;
}

.space3 {
    padding-left: 60px;
}

.space4 {
    padding-left: 80px;
}

.ad-cates-list-ck {
    line-height: 27px;
}

.list-ct-feature {
    list-style: none;
}

    .list-ct-feature li {
        /* line-height: 18px; */
        margin: 10px 0px;
    }

.stt-feature {
    padding: 4px 7px;
    border-radius: 2px;
    background: #f14a00;
    font-weight: bold;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
    font-size: 13px;
}

.ad-ft-tt-l {
    float: left;
    text-align: left;
    color: #555;
    font-weight: normal;
    font-size: 13px;
    margin: 5px;
    width: 150px;
}

.ad-ft-nd-r {
    float: left;
    line-height: 30px;
}

.ad-ft-tt-item {
    margin: 5px 0px;
}

.lcate-prd {
    float: left;
    width: 300px;
    line-height: 22px;
}

    .lcate-prd ul, .lprd-prd ul, .lprd-selected ul {
        border: 1px solid #f0f0f0;
        height: 300px;
        overflow: auto;
        padding: 5px;
    }

.lprd-prd {
    float: left;
    width: 300px;
    line-height: 22px;
    margin: 0px 50px;
}

.lprd-selected {
    float: left;
    width: 300px;
    line-height: 22px;
    overflow: auto;
}

#element-box {
    margin-bottom: 40px;
    background: #fff;
    padding: 10px;
}

.deltabprd {
    background: #5AB1D0;
    padding: 6px 10px;
    display: inline-block;
    font-weight: bold;
    color: #fff !important;
}

.addtabprd {
    background: #5AB1D0;
    padding: 6px 20px;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    color: #fff !important;
}

.spanButtonPlaceholder input[type=file] {
}

.imt input {
    border: 1px solid #ccc;
    width: 108px;
    margin-top: 5px;
}

.item-upload {
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    padding: 3px 5px;
    line-height: 25px;
    width: 121px;
    position: relative;
    display: inline-block;
    margin: 5px 6px;
    word-break: break-word;
    overflow: hidden;
    height: 170px;
}

.item-upload-del {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 7px;
    background: url("../images/ico-tl-delete-16x16.png") center center no-repeat;
    display: block;
}

    .item-upload-del:hover {
        cursor: pointer;
        background: url("../images/removeitem.gif") center center no-repeat;
    }

.browse-file {
    background: url("../images/upload-button.png") 0px -0px no-repeat;
    height: 30px;
    width: 125px;
    margin-top: 7px;
}

.loading-fl {
    background: url("../images/upload-loading.gif") center center no-repeat;
    height: 30px;
}

.tl-item-fl-del {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 7px;
    background: url("../images/ico-tl-delete-16x16.png") center center no-repeat;
    display: block;
}

    .tl-item-fl-del:hover {
        cursor: pointer;
        background: url("../images/removeitem.gif") center center no-repeat;
    }

.li-tl-item-f {
    position: relative;
}

.tl-item-fl-del {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 7px;
    background: url("../images/ico-tl-delete-16x16.png") center center no-repeat;
    display: block;
}

    .tl-item-fl-del:hover {
        cursor: pointer;
        background: url("../images/removeitem.gif") center center no-repeat;
    }

.item-upload-name img {
    width: 120px;
    max-height: 120px;
}

.linklist {
    display: none;
    margin: 10px 143px;
    border: 1px solid #d0d0d0;
    padding: 10px;
    line-height: 25px;
    max-height: 200px;
    overflow: auto;
    width: 310px;
}

.bgcolor {
    padding: 10px 0px 0px 25px;
}

.bgimg {
    padding: 10px 0px 0px 25px;
}

.header_admin_topleft img {
    height: 65px;
}

.ico-dcreate {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    float: left;
    background: url("../images/date_add.png") center center no-repeat;
}

.ico-dupdate {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    float: left;
    background: url("../images/date_edit.png") center center no-repeat;
}

.ico-dstart {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    float: left;
    background: url("../images/date_start.png") center center no-repeat;
}

.ico-dend {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    float: left;
    background: url("../images/date_end.png") center center no-repeat;
}

.ico-ucreate {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    float: left;
    background: url("../images/user_add.png") center center no-repeat;
}

.ico-uupdate {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    float: left;
    background: url("../images/user_edit.png") center center no-repeat;
}

.sptime {
    line-height: 20px;
    font-size: 11px;
}

.bootstrap-tagsinput {
    background-color: #fff;
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    width: 100%;
    line-height: 22px;
    /*white-space: pre-line;*/
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bootstrap-tagsinput {
    min-height: 37px;
}

    .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: #647f9e;
        font-weight: 300;
    }

.label-tags {
    position: relative;
    background: #e9f3ff;
    color: #647f9e;
    padding: 4px 6px 4px 6px;
    border: 1px solid rgba(0,0,0,.2);
    font-size: 13px;
    display: inline-block;
    margin: 2px 5px 2px 0;
    border-radius: 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

    .bootstrap-tagsinput .tag [data-role="remove"]:after {
        content: 'x';
        padding: 0 2px;
    }

.bootstrap-tagsinput input[type=text] {
    line-height: 25px;
}

.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: inherit;
}

.lnkprddetaildelete {
    height: 16px;
    width: 16px;
    display: block;
    background: url("../images/delicon.png") center center no-repeat;
    margin-top: 5px;
}

.next-input--stylized {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-property: color,-webkit-box-shadow;
    transition-property: color,-webkit-box-shadow;
    transition-property: box-shadow,color;
    transition-property: box-shadow,color,-webkit-box-shadow;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05);
    box-shadow: inset 0 1px 0 0 rgba(63,63,68,.05);
    border-color: #c4cdd5;
    border: 1px solid #d4d4d4;
    padding: 2px 5px;
    border-radius: 3px;
    float: left;
    margin-right: 5px;
}

.next-input-add-on {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    white-space: nowrap;
    color: #a0a0a0;
}

.txtpa {
    outline: none;
}

    .txtpa:focus {
        background: none;
    }

.naq {
    width: 100%;
}

.block-upload-item {
    text-align: center;
    margin: 20px auto;
    /* width: 300px; */
    border: 1px solid #f0f0f0;
    padding: 20px 0px;
}

    .block-upload-item p {
        margin: 0px auto;
        text-align: center !important;
    }

.browse-file {
    background: url(../images/upload-button.png) 0px -0px no-repeat;
    height: 30px;
    width: 125px;
    margin-top: 7px;
    margin: 10px auto;
}

input[type="radio"] {
    position: relative;
    margin: 0 .5rem 0 0;
    cursor: pointer;
}

    input[type="radio"]:before {
        -webkit-transition: -webkit-transform .4s cubic-bezier(.45,1.8,.5,.75);
        -moz-transition: -moz-transform .4s cubic-bezier(.45,1.8,.5,.75);
        transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
        -webkit-transform: scale(0,0);
        -moz-transform: scale(0,0);
        -ms-transform: scale(0,0);
        -o-transform: scale(0,0);
        transform: scale(0,0);
        content: "";
        position: absolute;
        left: -1px;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        z-index: 1;
        width: 8px;
        height: 8px;
        background: #58b3f0;
        border-radius: 50%;
    }

    .hrv-radio:checked:before, input[type="radio"]:checked:before {
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }

    input[type="radio"]:after {
        content: "";
        position: absolute;
        left: -1px;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #58b3f0;
        border-radius: 50%;
    }

input[type="checkbox"] {
    margin-top: 0;
    vertical-align: top;
    width: 16px;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    input[type="checkbox"]:checked:before {
        -webkit-transform: rotate(-45deg) scale(1,1);
        -moz-transform: rotate(-45deg) scale(1,1);
        -ms-transform: rotate(-45deg) scale(1,1);
        -o-transform: rotate(-45deg) scale(1,1);
        transform: rotate(-45deg) scale(1,1);
    }

    input[type="checkbox"]:before {
        -webkit-transition: -webkit-transform .4s cubic-bezier(.45,1.8,.5,.75);
        -moz-transition: -moz-transform .4s cubic-bezier(.45,1.8,.5,.75);
        transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
        -webkit-transform: rotate(-45deg) scale(0,0);
        -moz-transform: rotate(-45deg) scale(0,0);
        -ms-transform: rotate(-45deg) scale(0,0);
        -o-transform: rotate(-45deg) scale(0,0);
        transform: rotate(-45deg) scale(0,0);
        content: "";
        position: absolute;
        left: -1px;
        right: 0;
        top: .3em;
        margin: auto;
        z-index: 1;
        width: 10px;
        height: 5px;
        border: 2px solid #58b3f0;
        border-top-style: none;
        border-right-style: none;
    }

    input[type="checkbox"]:checked:after {
        border-color: #58b3f0;
    }

    input[type="checkbox"]:after {
        content: "";
        position: absolute;
        left: -1px;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #c4cdd5;
        cursor: pointer;
        border-radius: 3px;
    }

input[type="checkbox"] {
    position: relative;
    top: 0;
    margin: 0 .5rem 10px 0;
    cursor: pointer;
}
