body {
    /* margin-top: 100px; */
    background-color: #222;
}

@media(min-width:768px) {
    body {
        /* margin-top: 50px; */
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 150px 0px;
    background-color: #ebeef0;
    min-height: 1000px;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

.image-box {
    position: relative;
}

.delete-image {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    background: #00000075;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-image img{
    filter: brightness(0) invert(1) grayscale(100%);
    width: 10px !important;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 60px 0px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #f2f4f5;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

#image-preview-4 img {
    width: 100%;
}

/* Side Navigation */
@media(min-width:1200px) {
    .col-width {
        width: 73.666667%;
    }
}

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #31373d;
        font-size: 13px;
        overflow-x: hidden;
    }

    .side-nav>li>a {
        width: 225px;
        padding-top: 8px;
        padding-bottom: 7px;
        color: #95a7b7 !important;
    }

    .side-nav li a i {
        margin-right: 6px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #272c30 !important;
        color: #fff !important;
    }

    .navbar-header {
        width: 225px;
        background: #272c30;
    }
}

.navbar-brand {
    color: #f2f4f5 !important;
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
    color: #f2f4f5;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.navbar-inverse {
    /*background-color: #272c30 !important;*/
    border-color: #2b3136 !important;
    height: 51px;
}

.col-shadown {
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.col-top {
    margin: 10px 0;
}

.text-align-right {
    text-align: right;
}

.breadcrumb {
    background: none;
}

.breadcrumb>.active {
    color: #333;
}

.mg-top {
    margin-top: 10px;
    /* padding: 0;*/
    padding-right: 0px;
}

.col-padding {
    padding: 0;
}

#themanh td {
    padding: 5px 5px;
}

.pagination {
    text-align: right;
    padding: 0px 0 5px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0px;
}

.pagination a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
}

.pagination span a {
    border: 1px solid #ddd;
    border-radius: 4px 4px 4px 4px;
}

.pagination .next {
    border-radius: 0px;
    border: none;
    color: #57A000;
    text-decoration: none;
}

.pagination .current {
    background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;
    border-color: #459300 !important;
    color: #fff !important;
    border: 1px solid #ddd;
    margin: 0 5px 0 0;
    padding: 3px 6px;
    border-radius: 4px 4px 4px 4px;
}

.pagination .current:hover {
    text-decoration: underline;
    border: 1px solid #DDDDDD;
}

.panel-primary {
    border-color: #00c0ef;
}

.panel-primary>.panel-heading {
    background: #00c0ef;
    border-color: #00c0ef;
}

.panel-footer {
    background: #00acd6;
    border-top: 1px solid #00acd6;
    color: #fff;
    padding: 5px 10px;
}

.panel-footer-green {
    background: #009550;
    border-top: 1px solid #009550;
}

.panel-yellow {
    background: #f39c12;
}

.panel-footer-yellow {
    background: #da8c10;
    border-top: 1px solid #da8c10;
}

.panel-red {
    background: #f56954;
}

.panel-footer-red {
    background: #dc5e4b;
    border-top: 1px solid #dc5e4b;
}

.side-nav>li>ul>li>a.current {
    color: #428bca;
}

.requirecss {
    color: #f00;
}

.txtiporder {
    border: 1px solid #d0d0d0;
    padding: 4px 10px;
    width: 95%;

    margin-bottom: 5px;
}

.txtipnewp {
    color: red;
}

.txtipoldp {
    color: blue;
}

.wrapper-content .note {
    color: #9fafba;
}

.tags .item.disabled {
    position: relative;
    display: block;
    margin: 0 5px 5px 0;
    padding: 3px 7px;
    border: 1px solid #cbdbee;
    opacity: .6;
    color: #647f9e;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tags .item {
    position: relative;
    display: block;
    margin: 0 5px 5px 0;
    padding: 3px 7px;
    border: 1px solid #cbdbee;
    background: #e9f3ff;
    color: #647f9e;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
}

.tags li {
    list-style-type: none;
    float: left;
}

.page-title-seo {
    min-height: 21px;
    display: block;
    font-size: 18px;
    color: #1a0dab;
    line-height: 21px;
    margin-bottom: 2px;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.page-description-seo {
    display: block;
    word-wrap: break-word;
    color: #006621;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 2px;
}

.page-url-seo {
    display: block;
    color: #545454;
    line-height: 18px;
    font-size: 13px;
}

.ps-relative {
    position: relative;
}

.pd-all-20 {
    padding: 20px;
}

.mt20 {
    margin-top: 20px;
}

.overflow-auto {
    overflow: auto;
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle;
    border-top: 1px solid #ececec;
}

.table>thead>tr>th {
    border-bottom: 1px solid #eee;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table th {
    font-weight: 500;
}

.border-none-b {
    border-bottom: none !important;
}

.product-edit:hover {
    background-color: #ffffea;
    border-color: #e5d7c2;
}

.product-edit {
    border: 1px solid transparent;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    width: 100%;
    padding-left: 5px;
    min-width: 80px;
}

.btn-default:hover {
    background-color: #efefef;
    border-color: #d6d6d6;
    color: #479ccf;
}

.btn-group>.btn,
.btn-group-vertical>.btn {
    position: relative;
    float: left;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.wrapper-content .btn-change-link {
    color: #479ccf;
    border: none;
    background: transparent;
    outline: none;
}

.table-hover-variants tr:hover td {
    background: #eff9fd !important;
}

.companyname {
    float: left;
    padding: 0px 20px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
}

.nav>li.dlang>a {
    display: inline-block;
    padding: 16px 5px;
    line-height: 17px;
}

.nav>li.dlang>a.selected img {
    border: 1px solid #f0f0f0;
    padding: 1px;
}

.ad-cates-list-ck ul {
    padding-left: 20px;
}

.dresult {
    display: none;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 1px 1px 1px #c7c1c1;
    z-index: 999;
    background: #fff;
    position: absolute;
    width: 100%;
    top: 31px;
    padding: 3px;
}

.no-padding {
    padding: 0px !Important;
}

.no-margin {
    margin: 0px !important;
}

.itsp {
    line-height: 30px;
    padding: 5px 20px;
}

.itsp:hover {
    cursor: pointer;
    background: #d0d0d0;
}

.iconpr {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    background: #f00;
    color: #fff !important;
    padding: 1px;
}

.add {
    background: #06f !important;
    color: #fff !important;
}

.itsp:hover .iconpr {
    display: block;
}

.bdelete {
    background: #f0f0f0;
}

.bdelete * {
    color: #999;
}

.itpr {
    padding: 0px 0px;
    font-weight: bold;
    color: red;
}

.ittt {
    padding: 0px 0px;
    font-weight: bold;
}

.itemadded {
    margin: 45px 0px 0px 0px;
    border: 1px solid #f0f0f0;
    padding: 10px 0px;
}

.itesp img {
    height: 35px;
    border: 1px solid #f0f0f0;
}

.deleteitsp {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #f00;
    color: #fff !important;
    padding: 1px;
}

.block_sp {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px #d2cdcd;
}

.ttg {
    font-weight: bold;
    margin: 5px 0px 10px 0px;
}

.center {
    text-align: center;
}

.listgr,
.listtt {
    border: 1px solid #d4d4d4;
    padding: 10px;
}

.listgr ul li {
    padding: 0px 0px 10px 0px;
}

.listtt ul ul {
    margin-left: 20px;
}

.tabprdm thead {
    background: #f0f0f0;
}

.btn-add-prdt {
    background: #ffa500;
    border-radius: 3px;
    padding: 8px 8px;
    color: #fff;
}

.btn-add-prdt:hover {
    background: #06f;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.title-product-main {
    font-weight: bold;
    color: #888;
    margin-bottom: 20px;
}

.thumbnails {
    display: none !important;
}

.item-upload-del1 {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 7px;
    background: url(../images/ico-tl-delete-16x16.png) center center no-repeat;
    display: block;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.modal-title {
    font-weight: 400;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal .modal-body {
    max-height: calc(100vh - 241px);
}

.modal-body {
    max-height: calc(100vh - 317px);
    overflow-y: auto;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    margin-top: 0;
    padding: 15px 18px 15px;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal .next-label {
    display: block;
    margin-bottom: .5rem;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: initial;
    cursor: pointer;
}

.fullwidth {
    width: 100%;
}

#lnk,
#lnkimport,
#lnkexport {
    color: #fff !important;
}

table.toolbar a.nhanban {
    background: #F58220;
}

table.toolbar a#lnkclose,
table.toolbar a#lnkdelete {
    background: #f00;

}

table.toolbar a#lnkadd {
    background: #F58220;
}

table.toolbar a.nhap,
table.toolbar a.xuat {
    background: #2196F3;
}

.itesp {
    margin-bottom: 10px;
}

.inputfile {
    width: 80px;
    height: 45px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.inputfile+label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label img {
    height: 44px;
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile+label span {
    font-size: 9px;
    display: none;
    text-align: center;
    padding: 0px;
    width: 100%;
    color: #fff;
}

.inputfile+label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

.box:hover span {
    position: absolute;
    top: 0px;
    display: block;
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.5);
}

.inputfile:hover {
    cursor: pointer;
    font-size: 0px;
}

.btn1 {
    background: #ffa500;
    border-radius: 3px;
    padding: 5px 15px;
    color: #fff;
}

.btn1:hover {
    background: #06f;
    border-radius: 3px;
    padding: 5px 15px;
    color: #fff;
}

.merror {
    padding: 10px !important;
    background: #f0f0f0;
    border: 1px solid #d0d0d0;
    margin-bottom: 10px !important;
    display: block;
}

.bla .guideresult li {
    background: #ebeef0;
    padding: 5px;
    line-height: 20px;
    color: #000;
    margin-bottom: 5px;
}

.bla .guideresult li {
    border-left: 2px solid #d9534f
}

.bla .guideresult li:first-child {
    border-left: 0px solid #d9534f
}