#google_translate_element,
.skiptranslate {
    display: none;
}

body {
    top: 0 !important;
}

.top_bar_fixed {
    background: radial-gradient(50% 11102.76% at 43.04% 50%, #DB4931 0%, #ED2025 100%);
    width: 100%;
    height: 80px;
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_bar_fixed.not-fixed {
    display: none;
}

.text_top_bar_fixed {
    text-align: center;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center
}

.text_top_bar_fixed span:first-child {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF
}

.text_top_bar_fixed span:last-child {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

.text_top_bar_fixed span:last-child a {
    color: #FFFFFF;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.text_top_bar_fixed span:last-child a img {
    transition: all 0.5s ease;
    position: relative;
    right: 0;
}


.text_top_bar_fixed span:last-child a:hover img {
    right: -10px;
    transition: all 0.5s ease
}

ul.language_choose {
    position: absolute;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: none;
}

ul.language_choose li {
    padding-bottom: 5px;
}

ul.language_choose li a {
    color: #343944;
    cursor: pointer;
}

ul.language_choose li a:hover {
    color: #ED2025;
}

.btn-button {
    padding: 8px 16px !important;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    background: #ED2025;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
}

.section-gallery {
    text-align: center;
    padding: 30px 0px;
}

@media (min-width: 768px) {
    .section-gallery {
        padding: 96px 0px 0px;
    }
}

@media (min-width: 992px) {
    .section-gallery {
        padding: 30px 0px;
    }
}

.gallery-modal .typography-slides-headline,
.gallery-modal .section-header {
    display: none;
}

#gallery-modal .modal-content-wrapper {
    height: 100%;
}

#gallery-modal .modal-content {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#gallery-modal .slides-wrapper {
    max-width: 100%;
}

#gallery-modal .gallery-modal,
#gallery-modal .section-slides,
#gallery-modal .slides-wrapper {
    height: 100%;
}

.image-gallery {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: center center / cover no-repeat;
    transition: all 1s ease 0s;
}

.image-gallery:hover {
    transform: scale(1.05);
}

.gallery-items {
    display: grid;
    max-width: 1440px;
    margin: 48px auto 0px;
    grid-template: "B B" 280px "C D" 266px / 0.4fr 0.6fr;
    gap: 4px;
    padding-bottom: 4px;
}

@media (min-width: 768px) {
    .gallery-items {
        margin: 0px auto;
        grid-template-rows: 336px 300px;
    }
}

@media (min-width: 992px) {
    .gallery-items {
        grid-template: "A B B E" 280px "A C D E" 250px / 0.25fr 0.3fr 0.2fr 0.25fr;
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item:nth-child(1) {
    grid-area: A / A / A / A;
    display: none;
}

.gallery-item:nth-child(2) {
    grid-area: B / B / B / B;
}

.gallery-item:nth-child(3) {
    grid-area: C / C / C / C;
}

.gallery-item:nth-child(4) {
    grid-area: D / D / D / D;
}

.gallery-item:nth-child(5) {
    grid-area: E / E / E / E;
    display: none;
}

@media (min-width: 992px) {

    .gallery-item:nth-child(1),
    .gallery-item:nth-child(5) {
        display: block;
    }
}

.bikes .tab-content>.active {
    display: block;
}

.bikes .tab-content .bike-item {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

@media (min-width: 1280px) and (max-height: 650px) {
    .bikes .tab-content .bike-item {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .bikes .tab-content .bike-item {
        background-color: rgb(255, 255, 255);
        padding: 16px;
    }
}

.bikes .tab-content .bike-item img {
    margin-bottom: 24px;
    width: 100%;
}

@media (min-width: 1280px) and (max-height: 650px) {
    .bikes .tab-content .bike-item img {
        margin-bottom: 12px;
    }
}

.bikes .tab-content .bike-item-content .bike-name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.96px;
    margin: 20px 0;
    text-align: left;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.bikes .tab-content .bike-item-content .bike-info {
    margin-bottom: 24px;
}

@media (min-width: 1280px) {
    .bikes .tab-content .bike-item-content .bike-info {
        margin-bottom: 14px;
        display: flex;
        gap: 20px;
    }
}

.bikes .tab-content .bike-item-content .bike-info span {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

.bikes .tab-content .bike-item-content .bike-info .title {
    color: rgb(138, 138, 138);
}

.bikes .tab-content .bike-item-content .bike-info .subtitle {
    color: rgb(60, 60, 60);
}

.bikes .tab-content .bike-item-content .bike-price {
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: rgb(138, 138, 138);
    margin-bottom: 20px;
}

.bikes .tab-content .bike-item-content .bike-price .bike-price-sold .new_price {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: rgba(252, 7, 0, 1);
}

.bikes .tab-content .bike-item-content .bike-price .bike-price-sold .old_price {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: strikethrough;
    color: rgba(26, 32, 44, 1);
}

.bikes .tab-content .bike-item .buttons {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .bikes .tab-content .bike-item .buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}

.bikes .tab-content .bike-item .buttons a {
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
    letter-spacing: 1.2px;
    font-weight: 700;
    line-height: 15.06px;
    text-transform: uppercase;
    border-radius: 3px;
}

.bikes .tab-content .bike-item .buttons .deposit-button {
    padding: 16.5px;
    width: 60%;
    white-space: nowrap;
    background-color: rgb(255, 255, 255);
    border: 1px solid #343944;
    color: #343944;
    transition: all 0.3s ease 0s;
    text-align: center;
}

@media (max-width: 767px) {
    .bikes .tab-content .bike-item .buttons .deposit-button {
        width: 100%;
        margin-bottom: 30px;
    }
}

.bikes .tab-content .bike-item .buttons .deposit-button:hover {
    background-color: #343944;
    color: rgb(255, 255, 255);
}

.bikes .tab-content .bike-item .buttons .detail-button {
    width: 35%;
    padding: 16.5px 0px;
    background-color: transparent;
    white-space: nowrap;
    color: #343944;
    text-align: center;
}

@media (max-width: 767px) {
    .bikes .tab-content .bike-item .buttons .detail-button {
        width: 100%;
    }
}

#block-newhome-escooter .deposit-buy-now {
    background: #343944;
    border-radius: 50px;
    padding: 12px 20px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: inherit;
    transition: all 0.3s ease-in-out 0s;
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    color: rgb(255, 255, 255) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#block-newhome-escooter .view-detail,
#block-newhome-escooter .view-detail-vehicle {
    padding: 15px;
    border: 1px solid #343944;
    border-radius: 50px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: inherit;
    color: #343944;
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
}

#block-newhome-escooter #pills-tab {
    display: flex;
}

.cars-nav {
    padding-bottom: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

li {
    line-height: 24px;
}

.cars-nav .nav-item span {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20.08px;
    letter-spacing: 1.2px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(60, 60, 60);
    transition: all 0.3s ease 0s;
    padding: 0px;
    margin-right: 48px;
    cursor: pointer;
}

.cars-nav .nav-item span.active {
    color: rgb(237, 32, 37);
    font-size: 16px;
    border: 1px solid;
    padding: 12px 20px;
    border-radius: 50px;
    background-color: unset !important;
    line-height: 24px;
}

.cars-nav .nav-item span:hover {
    color: rgb(237, 32, 37);
}

.cars .tab-content {
    box-shadow: unset;
    background-color: unset;
    border: none;
    padding: 0px;
}

.tab-content>.tab-pane {
    display: none;
}

.fade:not(.show) {
    opacity: 0;
}

.fade {
    visibility: hidden;
}

.fade {
    transition: opacity 0.15s linear 0s;
}

.fade.show {
    visibility: visible;
}

.swiper-bike .swiper-wrapper {
    justify-content: center;
    gap: 30px;
}

#block-newhome-escooter {
    padding: 60px 0px;
    background: #f8f9fa;
    overflow: hidden;
}

.ggr_form_contact {
    background: url('../images/bg_form.png') no-repeat;
    background-size: cover;
    padding: 125px 0;
    text-align: center;
}

.ggr_form_contact .ggr_head h2 {
    margin-top: 0;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.54px;
}

.ggr_form_input {
    max-width: 908px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 36px;
}

.ggr_note {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.form-control {
    border-radius: 36px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(72, 72, 72, 0.25);
    position: relative;
    width: 100%;
    height: 64px;
    padding: 20px 48px;
}

.btn-reg-notion {
    position: absolute;
    right: 20px;
    padding: 12px 56px !important;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.about-topic {
    background: #F4F4F4;
    border-radius: 8px;
    padding: 24px 16px;
    text-align: center;
}

.typography-about-topic-img {
    margin: 0 auto;
    display: block;
}

.owl-dots {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.owl-dot {
    width: 12px;
    height: 4px;
    background: #CCCDD0 !important;
    border-radius: 8px;
}

.owl-dot.active {
    width: 24px;
    height: 4px;
    background: #ED2025 !important;
    border-radius: 8px;
}

.information_group_footer {
    position: relative;
}

.information_group_footer .logo_footer,
.information_group_footer .text_infor {
    margin-bottom: 30px;
}

.information_group_footer h2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #F4F4F4;
    margin-bottom: 16px;
}

.information_group_footer p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #F4F4F4;
    margin-bottom: 12px;
}

.information_group_footer p:last-child {
    margin-bottom: 0;
}

.social {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
}

.social .item_social a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #80838A;
}

.menu_footer {
    position: relative;
}

.menu_footer h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #80838A;
    margin-bottom: 16px;
}

.menu_footer ul li {
    padding-bottom: 12px;
}

.menu_footer ul li:has(ul) {
    padding-bottom: 0;
}

.menu_footer ul li,
.menu_footer ul li a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #F4F4F4;
}

.menu_footer .child-menu {
    padding-top: 12px;
    list-style: disc;
    padding-left: 20px;
}

@media (prefers-reduced-motion: reduce) {
    .fade {
        transition: none 0s ease 0s;
    }
}

@media (max-width: 767px) {
    .cars-nav {
        -webkit-box-pack: justify;
        justify-content: space-between;
        overflow: scroll;
        margin-bottom: 30px;
        flex-wrap: nowrap !important;
    }

    .cars-nav .nav-item span {
        white-space: nowrap;
        margin-right: 16px;
    }
}

#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 9999;
}

#modal-container.six {
    transform: scale(1);
}

#modal-container.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    opacity: 1;
    background: transparent;
    z-index: 999;
}

#modal-container.six .modal-background img {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six .modal-background .modal .modal-svg rect {
    animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
}

#modal-container.six.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six.out .modal-background .modal {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container.six.out .modal-background .modal img {
    animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
}

#modal-container .modal-background .modal {
    background: white;
    padding: 0;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
}

#modal-container .modal-background .modal img {
    width: 100%;
}

@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, 0);
    }

    100% {
        background: rgba(0, 0, 0, 0.7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, 0.7);
    }

    100% {
        background: rgba(0, 0, 0, 0);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }

    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}


@keyframes sketchIn {
    0% {
        stroke-dashoffset: 778;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes modalFadeOut {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes modalContentFadeIn {
    0% {
        opacity: 0;
        top: -20px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes modalContentFadeOut {
    0% {
        opacity: 1;
        top: 0px;
    }

    100% {
        opacity: 0;
        top: -20px;
    }
}

@media(max-width: 768px) {
    .text_top_bar_fixed {
        flex-direction: column;
        gap: 10px;
    }

    .text_top_bar_fixed span:first-child {
        font-size: 12px;
        line-height: normal;
    }

    .text_top_bar_fixed span:last-child {
        font-size: 12px;
        line-height: normal;
    }

    .typography-section-intro {
        font-size: 24px;
    }

    .typography-section-headline {
        font-size: 24px;
    }

    br {
        display: none;
    }

    .section-pbgn {
        padding: 64px 12px;
    }

    .ggr_form_input {
        flex-direction: column;
    }

    .btn-reg-notion {
        position: relative;
        margin-top: 20px;
        right: 0;
    }
}