
*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box
}

menu,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

input::placeholder,
textarea::placeholder {
    color: #9ca3af
}

[role=button],
button {
    cursor: pointer
}

:disabled {
    cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    height: auto;
    max-width: 100%
}

[hidden] {
    display: none
}

.visible {
    visibility: visible
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.top-0 {
    top: 0
}

.z-50 {
    z-index: 50
}

.order-1 {
    order: 1
}

.order-none {
    order: 0
}

.col-span-2 {
    grid-column: span 2/span 2
}

.float-right {
    float: right
}

.m-0 {
    margin: 0
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.my-3 {
    margin-bottom: .75rem;
    margin-top: .75rem
}

.-mb-px {
    margin-bottom: -1px
}

.mb-10 {
    margin-bottom: 2.5rem
}

.mb-16 {
    margin-bottom: 4rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-5 {
    margin-bottom: 1.25rem
}

.mb-9 {
    margin-bottom: 2.25rem
}

.mb-\[0px\] {
    margin-bottom: 0
}

.mb-\[100px\] {
    margin-bottom: 100px
}

.mb-\[10px\] {
    margin-bottom: 10px
}

.mb-\[16px\] {
    margin-bottom: 16px
}

.mb-\[20px\] {
    margin-bottom: 20px
}

.mb-\[30px\] {
    margin-bottom: 30px
}

.mb-\[32px\] {
    margin-bottom: 32px
}

.mb-\[40px\] {
    margin-bottom: 40px
}

.mb-\[48px\] {
    margin-bottom: 48px
}

.mb-\[60px\] {
    margin-bottom: 60px
}

.mb-\[64px\] {
    margin-bottom: 64px
}

.mb-\[72px\] {
    margin-bottom: 72px
}

.mb-\[80px\] {
    margin-bottom: 80px
}

.mb-\[8px\] {
    margin-bottom: 8px
}

.ml-3 {
    margin-left: .75rem
}

.ml-\[105px\] {
    margin-left: 105px
}

.ml-\[20px\] {
    margin-left: 20px
}

.ml-\[55px\] {
    margin-left: 55px
}

.mr-2 {
    margin-right: .5rem
}

.mr-\[105px\] {
    margin-right: 105px
}

.mr-\[10px\] {
    margin-right: 10px
}

.mr-\[15px\] {
    margin-right: 15px
}

.mt-\[100px\] {
    margin-top: 100px
}

.mt-\[10px\] {
    margin-top: 10px
}

.mt-\[160px\] {
    margin-top: 160px
}

.mt-\[16px\] {
    margin-top: 16px
}

.mt-\[20px\] {
    margin-top: 20px
}

.mt-\[24px\] {
    margin-top: 24px
}

.mt-\[25px\] {
    margin-top: 25px
}

.mt-\[30px\] {
    margin-top: 30px
}

.mt-\[36px\] {
    margin-top: 36px
}

.mt-\[40px\] {
    margin-top: 40px
}

.mt-\[48px\] {
    margin-top: 48px
}

.mt-\[60px\] {
    margin-top: 60px
}

.mt-\[80px\] {
    margin-top: 80px
}

.mt-\[85px\] {
    margin-top: 85px
}

.mt-\[90px\] {
    margin-top: 90px
}

.box-border {
    box-sizing: border-box
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.table {
    display: table
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.h-0 {
    height: 0
}

.h-5 {
    height: 1.25rem
}

.h-6 {
    height: 1.5rem
}

.h-\[132px\] {
    height: 132px
}

.h-\[30px\] {
    height: 30px
}

.h-\[40px\] {
    height: 40px
}

.h-\[calc\(100\%-1rem\)\] {
    height: calc(100% - 1rem)
}

.h-full {
    height: 100%
}

.h-screen {
    height: 100vh
}

.max-h-full {
    max-height: 100%
}

.w-1\/2 {
    width: 50%
}

.w-1\/3 {
    width: 33.333333%
}

.w-1\/4 {
    width: 25%
}

.w-2\/3 {
    width: 66.666667%
}

.w-2\/5 {
    width: 40%
}

.w-3\/5 {
    width: 60%
}

.w-5 {
    width: 1.25rem
}

.w-80 {
    width: 20rem
}

.w-\[110\%\] {
    width: 110%
}

.w-\[97px\] {
    width: 97px
}

.w-full {
    width: 100%
}

.max-w-\[616px\] {
    max-width: 616px
}

.max-w-full {
    max-width: 100%
}

.max-w-none {
    max-width: none
}

.flex-none {
    flex: none
}

.flex-grow-0 {
    flex-grow: 0
}

.grow {
    flex-grow: 1
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.list-disc {
    list-style-type: disc
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
}

.grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr))
}

.grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr))
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.justify-start {
    justify-content: flex-start
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.gap-10 {
    gap: 2.5rem
}

.gap-4 {
    gap: 1rem
}

.gap-\[15px\] {
    gap: 15px
}

.gap-\[16px\] {
    gap: 16px
}

.gap-\[20px\] {
    gap: 20px
}

.gap-\[24px\] {
    gap: 24px
}

.gap-\[32px\] {
    gap: 32px
}

.gap-\[40px\] {
    gap: 40px
}

.gap-x-\[16px\] {
    column-gap: 16px
}

.overflow-hidden {
    overflow: hidden
}

.overflow-y-auto {
    overflow-y: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.rounded-lg {
    border-radius: .5rem
}

.border {
    border-width: 1px
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-clip-text {
    background-clip: text
}

.object-contain {
    object-fit: contain
}

.object-cover {
    object-fit: cover
}

.object-fill {
    object-fit: fill
}

.p-0 {
    padding: 0
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-\[32px\] {
    padding: 32px
}

.pb-0 {
    padding-bottom: 0
}

.pb-\[120px\] {
    padding-bottom: 120px
}

.pb-\[150px\] {
    padding-bottom: 150px
}

.pb-\[16px\] {
    padding-bottom: 16px
}

.pb-\[20px\] {
    padding-bottom: 20px
}

.pb-\[24px\] {
    padding-bottom: 24px
}

.pb-\[30px\] {
    padding-bottom: 30px
}

.pb-\[50px\] {
    padding-bottom: 50px
}

.pb-\[60px\] {
    padding-bottom: 60px
}

.pb-\[80px\] {
    padding-bottom: 80px
}

.pl-6 {
    padding-left: 1.5rem
}

.pl-\[100px\] {
    padding-left: 100px
}

.pl-\[105px\] {
    padding-left: 105px
}

.pl-\[24px\] {
    padding-left: 24px
}

.pl-\[50px\] {
    padding-left: 50px
}

.pr-0 {
    padding-right: 0
}

.pr-\[100px\] {
    padding-right: 100px
}

.pr-\[64px\] {
    padding-right: 64px
}

.pr-\[80px\] {
    padding-right: 80px
}

.pt-0 {
    padding-top: 0
}

.pt-10 {
    padding-top: 2.5rem
}

.pt-\[10px\] {
    padding-top: 10px
}

.pt-\[110px\] {
    padding-top: 110px
}

.pt-\[15px\] {
    padding-top: 15px
}

.pt-\[24px\] {
    padding-top: 24px
}

.pt-\[330px\] {
    padding-top: 330px
}

.pt-\[40px\] {
    padding-top: 40px
}

.pt-\[48px\] {
    padding-top: 48px
}

.pt-\[50px\] {
    padding-top: 50px
}

.pt-\[60px\] {
    padding-top: 60px
}

.pt-\[80px\] {
    padding-top: 80px
}

.pt-\[90px\] {
    padding-top: 90px
}

.pt-\[92px\] {
    padding-top: 92px
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}

.text-5xl {
    font-size: 3rem;
    line-height: 1
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem
}

.font-bold {
    font-weight: 700
}

.font-light {
    font-weight: 300
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.not-italic {
    font-style: normal
}

.leading-5 {
    line-height: 1.25rem
}

.leading-6 {
    line-height: 1.5rem
}

.leading-9 {
    line-height: 2.25rem
}

.leading-relaxed {
    line-height: 1.625
}

.tracking-tighter {
    letter-spacing: -.05em
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity))
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity))
}

.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55/var(--tw-text-opacity))
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39/var(--tw-text-opacity))
}

.text-transparent {
    color: transparent
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.transition {
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.h3-60px {
    color: #002060;
    font-family: Pathway Extreme;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -.03em;
    line-height: 110%
}

.color-blue,
.gradient-blue-text {
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(95.15deg, #2845e1, #52b4f9 107.87%) !important;
    -webkit-background-clip: text !important
}

.color-blue-b {
    -webkit-text-fill-color: transparent !important;
    background: linear-gradient(180deg, #2845e1, #52b4f9 107.87%) !important;
    -webkit-background-clip: text !important
}

.p-16px {
    color: #202833;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 24px
}

.font-bold {
    font-weight: 700 !important
}

.font-normal {
    font-weight: 400 !important
}

.swiper .swiper-slide {
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 100%
}

.swiper .swiper-slide p {
    margin-bottom: 16px;
    position: relative;
    z-index: 2
}

.swiper .swiper-button-disabled {
    opacity: .5
}

.swiper-wrapper {
    transition-timing-function: linear !important
}

@media only screen and (max-width:481px) {
    .swiper-pagination-container__mobile {
        flex-direction: column;
        margin-top: 0
    }

    .swiper-pagination-container__mobile .swiper-pagination-bullets.swiper-pagination-horizontal {
        justify-content: center;
        margin: 24px 0
    }
}

.swiper-pagination {
    bottom: 0;
    display: flex;
    position: relative;
    transform: none;
    width: auto
}

.swiper-pagination-bullet-active {
    width: 80px !important
}

.swiper-pagination-bullet {
    background: #aebecd;
    border-radius: 300px;
    height: 4px;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
    opacity: 1;
    transition: width .5s ease-in-out 0s;
    width: 4px
}

.common-button-prev {
    background-image: url(//ntq.com.vn/wp-content/themes/ntq_branding/assets/images/next.svg);
    background-size: contain;
    height: 40px;
    transform: rotate(180deg);
    transition: all 1s linear;
    width: 40px
}

.common-button-prev:hover {
    background-image: url(//ntq.com.vn/wp-content/themes/ntq_branding/assets/images/next-hover.svg)
}

.common-button-next {
    background-image: url(//ntq.com.vn/wp-content/themes/ntq_branding/assets/images/next.svg);
    background-size: contain;
    height: 40px;
    transition: all 1s linear;
    width: 40px
}

.common-button-next:hover {
    background-image: url(//ntq.com.vn/wp-content/themes/ntq_branding/assets/images/next-hover.svg)
}

.btn-link {
    align-items: center;
    color: #002060;
    display: flex;
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center
}

.btn-link .arrow {
    background-image: url(//ntq.com.vn/wp-content/themes/ntq_branding/assets/images/Vector.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 13px;
    margin-left: 12px;
    width: 22px
}

.btn-link:hover {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background: linear-gradient(94.11deg, #3a81dc, #9c7ae5);
    -webkit-background-clip: text;
    background-clip: text
}

.btn-link:hover .arrow {
    background-image: url(//ntq.com.vn/wp-content/themes/ntq_branding/assets/images/Vector-hover.svg);
    margin-left: 15px;
    transition-duration: .2s;
    transition-property: all
}

::-webkit-scrollbar {
    height: 0;
    width: 7px
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3)
}

::-webkit-scrollbar-thumb:hover,
:hover::-webkit-scrollbar-thumb {
    background: linear-gradient(94.11deg, #3a81dc, #9c7ae5)
}

@media(min-width:1280px) {
    .container {
        max-width: 1248px
    }
}

.w-left {
    width: 42.3%
}

.w-right {
    width: 57.7%
}

.list-inside {
    list-style-position: inside
}

.list-outside {
    list-style-position: outside
}

.pb-\[40px\] {
    padding-bottom: 40px
}

.pl-\[90px\] {
    padding-left: 90px
}

.pr-\[90px\] {
    padding-right: 90px
}

.pl-\[60px\] {
    padding-left: 60px
}

.pr-\[60px\] {
    padding-right: 60px
}

.mb-\[35px\] {
    margin-bottom: 35px
}

.gap-\[40px\] {
    gap: 40px !important
}

.gap-\[60px\] {
    gap: 60px !important
}

.opacity1 {
    opacity: 1 !important
}

.items-center {
    align-items: center !important
}

.pt-0 {
    padding-top: 0 !important
}

.pt-\[20px\] {
    padding-top: 20px
}

.pb-0 {
    padding-bottom: 0 !important
}

.pr-0 {
    padding-right: 0 !important
}

.flex-1 {
    flex: 1 1 0%
}

.m-0 {
    margin: 0 !important
}


@keyframes scrollSection {
    0% {
        transform: scale(1)
    }

    to {
        transform: scale(.9)
    }
}

@media(min-width:1536px) {
    .container {
        max-width: 1444px
    }
}

.mobile {
    display: none !important
}

@media(max-width:479px) {
    .mobile {
        display: block !important
    }

    .desktop {
        display: none !important
    }
}

@keyframes growColumn {
    0% {
        bottom: -500px
    }

    to {
        bottom: 0
    }

    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes growText {
    0% {
        margin-top: 109px
    }

    to {
        margin-top: 79px
    }

    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes growLogo {
    0% {
        margin-top: 96px
    }

    to {
        margin-top: 50px
    }

    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes formBottomThird {
    0% {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes formBottomSecond {
    0% {
        transform: translateY(100%)
    }

    to {
        transform: translateY(30%)
    }
}

@keyframes formBottomFirst {
    0% {
        transform: translateY(100%)
    }

    to {
        transform: translateY(60%)
    }
}

@media(min-width:576px) {
    #page-milestones .milestones__our__plan .chart-animation {
        animation: growColumn 1.5s ease
    }

    #page-milestones .milestones__our__plan .transform-text {
        animation: growText 1s ease
    }

    #page-milestones .milestones__our__plan .transform-logo {
        animation: growLogo 1s ease
    }

    #page-milestones .milestones__our__plan .opacity-show {
        opacity: 1
    }
}

@media(max-width:479px) {
    #page-milestones .milestones__our__plan .opacity-show {
        opacity: 1
    }
}

.milestones__technology {
    padding: 80px 0;
    background: linear-gradient(180deg, rgba(255, 220, 220, 0.00) 0%, rgba(255, 234, 234, 0.50) 25.52%, #FFEAEA 100%);
}

@media(max-width:479px) {
    .milestones__technology {
        padding: 24px 0 0
    }
}

.milestones__technology .mobile {
    background-image: url(//ntq.com.vn/wp-content/themes/ntq_branding/assets/images/Aurora.webm);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.milestones__technology .mobile .content__mobile {
    padding: 16px
}

.milestones__technology .mobile .content__m {
    background-color: #fff;
    font-family: IBM Plex Sans;
    padding: 16px
}

.milestones__technology .mobile .content__m__name {
    -webkit-text-fill-color: transparent;
    background: var(--gradient-single-03, linear-gradient(180deg, #2845e1 0, #52b4f9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    font-family: Pathway Extreme;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -.8px;
    line-height: 110%;
    padding-bottom: 16px
}

.milestones__technology .mobile .content__m__detail {
    box-shadow: 0 20px 50px 0 rgba(1, 89, 167, .15);
    margin-bottom: 16px
}

.milestones__technology .mobile .content__m__img {
    align-self: stretch;
    height: 132px;
    overflow: hidden
}

.milestones__technology .mobile .content__m__img img {
    width: 100%
}

.milestones__technology--title {
    color: var(--primary-dark-blue, #002060);
    font-family: Pathway Extreme;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -1.8px;
    line-height: 110%;
    margin-bottom: 60px;
    text-align: center
}

@media(max-width:479px) {
    .milestones__technology--title {
        font-size: 36px;
        margin: 0 auto;
        width: 328px
    }
}

.milestones__technology .ntq-goal-swiper {
    height: 300px;
    margin-top: 115px;
    overflow: hidden
}

.milestones__technology .ntq-goal-swiper .swiper-slide {
    align-items: center;
    color: #aebecd;
    display: flex;
    flex: none;
    flex-grow: 1;
    font-family: Pathway Extreme;
    font-size: 44px;
    justify-content: end;
    letter-spacing: -.02em;
    line-height: 130%;
    order: 0;
    pointer-events: none;
    text-align: right
}

.milestones__technology .ntq-goal-swiper .swiper-slide-active {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180.79deg, #ED2025 .68%, #da6466 99.32%);
    -webkit-background-clip: text;
    font-size: 96px;
    font-weight: 300
}

.milestones__technology .ntq-goal-right-swiper {
    width: 100%
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 88px
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-active,
.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-active ul,
.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-next {
    opacity: 1 !important
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-active:before {
    display: none
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-next .content-img:before {
    background: linear-gradient(0deg, #ED2224, rgba(32, 106, 173, .2));
    content: "";
    height: 236px !important;
    position: absolute;
    top: 65px;
    transition-duration: 1s;
    transition-property: all;
    width: 100%
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-next .content-img img {
    height: 236px !important
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-next .content-img h3 {
    bottom: 10px;
    color: #fff;
    display: block !important;
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: 600;
    left: 24px;
    line-height: 36px;
    position: absolute
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition-duration: .5s;
    transition-property: all
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide ul {
    min-height: 150px;
    opacity: 0;
    transition-duration: 1.5s;
    transition-property: all
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide .content-img {
    align-items: end;
    background: transparent;
    display: flex;
    height: 300px;
    position: relative;
    transition-duration: .5s;
    transition-property: all
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide .content-img h3 {
    display: none
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide .content-img img {
    box-shadow: -2px 6px 11px 0 rgba(32, 106, 173, .278);
    height: 100%;
    object-fit: cover;
    transition-duration: .5s;
    transition-property: all;
    width: 100%
}

.milestones__technology .ntq-goal-right-swiper .swiper-wrapper .swiper-slide-active img {
    height: 100% !important
}

.milestones__technology .ntq-goal-right-swiper__btn {
    align-items: center;
    display: flex;
    left: calc(66% + 15px);
    position: absolute;
    top: -240px;
    z-index: 9
}

.milestones__technology .ntq-goal-right-swiper__progress-bar {
    background: var(--neutral-linen, #e3f0fe);
    border-radius: 300px;
    cursor: pointer;
    display: block;
    height: 8px;
    overflow: hidden;
    position: relative;
    width: 65%
}

.milestones__technology .ntq-goal-right-swiper__progress-bar .active-animation-bar {
    animation: progressbar 5.4s linear infinite;
    background: linear-gradient(95.15deg, #ED2025, #aa4547 107.87%);
    border-radius: 300px;
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-101%) rotate(0deg);
    width: 100%;
    will-change: auto
}

.milestones__technology .ntq-goal-right-swiper__list-detail li {
    color: var(--secondary-shade-of-grey-900, #202833);
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .16px;
    line-height: 24px;
    margin-bottom: 10px
}

.milestones__technology .ntq-goal-right-swiper__list-detail li span {
    font-weight: 700
}

@keyframes progressbar {
    0% {
        transform: translateX(-101%) rotate(0deg)
    }

    to {
        transform: translateX(0) rotate(0deg)
    }
}

@keyframes bar {
    0% {
        transform: translateX(-101%) rotate(0deg)
    }

    to {
        transform: translateX(0) rotate(0deg)
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-3rem)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 0;
        transform: translateY(-3rem)
    }
}

.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246/var(--tw-bg-opacity))
}

@media (prefers-color-scheme:dark) {
    .dark\:text-gray-400 {
        --tw-text-opacity: 1;
        color: rgb(156 163 175/var(--tw-text-opacity))
    }
}

@media (max-width:576px) {
    .sm\:my-0 {
        margin-top: 0
    }

    .sm\:mb-0,
    .sm\:my-0 {
        margin-bottom: 0
    }

    .sm\:mb-\[60px\] {
        margin-bottom: 60px
    }

    .sm\:mt-0 {
        margin-top: 0
    }

    .sm\:mt-\[40px\] {
        margin-top: 40px
    }

    .sm\:block {
        display: block
    }

    .sm\:grid {
        display: grid
    }

    .sm\:hidden {
        display: none
    }

    .sm\:w-\[95\%\] {
        width: 95%
    }

    .sm\:max-w-full {
        max-width: 100%
    }

    .sm\:grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }

    .sm\:gap-\[40px\] {
        gap: 40px
    }

    .sm\:pl-0 {
        padding-left: 0
    }

    .sm\:pl-\[16px\] {
        padding-left: 16px
    }

    .sm\:pr-\[16px\] {
        padding-right: 16px
    }
}

@media (min-width:768px) {
    .md\:inset-0 {
        inset: 0
    }

    .md\:col-span-3 {
        grid-column: span 3/span 3
    }

    .md\:col-span-9 {
        grid-column: span 9/span 9
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media (min-width:1024px) {
    .lg\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr))
    }

    .lg\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }

    .lg\:gap-\[40px\] {
        gap: 40px
    }
}